@font-face {
    font-family: Optimo-Plain;
    src: url('./Plain-Light.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Optimo-Plain;
    src: url('./Plain-LightIta.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Optimo-Plain;
    src: url('./Plain-Regular.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Optimo-Plain;
    src: url('./Plain-RegularIta.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Optimo-Plain;
    src: url('./Plain-Medium.ttf') format('truetype'); /* [1] */
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Optimo-Plain;
    src: url('./Plain-MediumIta.ttf') format('truetype'); /* [1] */
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: BB-Roller-Regular;
    src: url('./BB-Roller-Mono-Regular-fontlab.ttf')
        format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: BB-Roller-Mono-semibold;
    src: url('./BB-Roller-Mono-ProTx-semibold.otf')
        format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}